.headerContainer {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  list-style: none;
  top: 0;
  background-color: #fff;
  z-index: 5;
  max-width: 480px;
  left: 50%;
  transform: translateX(-50%);
  .shoppingCartHeaderNavigation {
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .arrowBackIcon {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      color: orangered;
    }
    .shoppingCartTitle {
      color: rgb(59, 59, 59);
    }
  }
  .headerTrackFood {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin: 10px;
      color: #459ce7;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      span {
        color: yellow;
      }
    }
  }
  .linksContainer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 0;
    list-style: none;
    margin: 5px 0;
    .link {
      color: rgb(77, 85, 199);
      font-size: 14px;
      line-height: 133%;
      font-family: "Montserrat", sans-serif;
      text-transform: capitalize;
      font-weight: 500;
    }
    .active {
      color: rgb(219, 69, 15);
      border-bottom: 2px solid rgb(219, 69, 15);
    }
  }
}
