.shoppingCart {
  // position: absolute;
  right: -135px;
  position: relative;
}
.quantiti {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 20px;
  background: orangered;
  text-align: center;
  border-radius: 50%;
  color: wheat;
}
