.form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  .HeaderNavigation {
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .arrowBackIcon {
      display: flex;
      justify-content: flex-start;
      color: orangered;
    }
    h3 {
      color: rgb(59, 59, 59);
    }
  }
  .buttonRoot {
    background-color: orangered;
    color: white;
    font-family: "Montserrat";
  }
}
