.arrangement {
  display: flex;
  flex-direction: column;
  h4 {
    color: rgb(59, 59, 59);
  }
  .textFieldRoot {
    & input {
      font-family: "Montserrat", sans-serif;
      color: hsl(0, 0%, 20%);
    }
    & input[type="number"]::-webkit-inner-spin-button,
    & input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  .paragraph {
    color: red;
    font-size: 12px;
    margin: 5px 0 15px 0;
    font-family: "Montserrat", sans-serif;
  }
  .paragraphHidden {
    visibility: hidden;
  }
}
