.delivery {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  z-index: 4;
  h4 {
    color: rgb(59, 59, 59);
  }
  .selectForSettlements {
    width: 100%;
    margin: 0;
    &.css-1s2u09g-control {
      height: 56px;
    }
  }
  .paragraph {
    color: red;
    font-size: 12px;
    margin: 5px 0 15px 0;
  }
}
